[submodule "themes/hugo-dusk"]
	path = themes/hugo-dusk
	url = https://github.com/gyorb/hugo-dusk
[submodule "public"]
	path = public
	url = git@github.com:manuel-arguelles/manuel-arguelles.github.io.git
